.wrapper {
  align-items: center;
  display: flex;
}

.wrapper::before {
  background: url("./images/evqo3m1f80Ki21k1633664509_1633664525.png") no-repeat
    center / cover #000;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.inner {
  align-items: center;
  display: flex;
  height: inherit;
  padding: 0 24px;
  position: relative;
}

.articlesWrapper {
  display: grid;
  gap: 24px;
  grid-auto-flow: column;
}

.article {
  color: #fff;
  direction: ltr;
  display: grid;
  gap: 8px;
  writing-mode: vertical-rl;
}

.list {
  display: grid;
  gap: 8px;
}

.item {
  display: grid;
  gap: 8px;
  grid-template: auto / auto auto;
  justify-content: flex-start;
}
