.wrapper {
  align-items: center;
  display: flex;
}

.list {
  display: flex;
  gap: 24px;
}

.anchor {
  display: grid;
  justify-items: center;
  gap: 16px;
}

.date {
  color: #fff;
  writing-mode: vertical-rl;
}

.title {
  color: #fff;
  writing-mode: vertical-rl;
}
