.wrapper {
  align-items: center;
  display: flex;
  // TODO
  justify-content: center;
}

.article {
  display: flex;
  gap: 24px;
}

.header {
  display: grid;
  justify-items: center;
  gap: 16px;
}

.title {
  writing-mode: vertical-rl;
}

.date {
  writing-mode: vertical-rl;
}

.body {
  direction: ltr;
  writing-mode: vertical-rl;
}
