.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.swiper {
  width: 100%;
}

.slide {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lazyLoadImageWrapper {
  max-height: 920px;
  max-width: 640px;
}

.imageWrapper {
  filter: drop-shadow(16px 16px 16px rgba(#000, 0.5)) !important;
  height: 100% !important;
  width: 100% !important;
}

.image {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
